*~
*.class
.classpath
.project
.pydevproject
.settings
.DS_Store
#target
thrift
logback.xml
target/
/bin/
src/main/java/net/floodlightcontroller/odin/master/OdinEventFlowDetection.java

# IntelliJ
.idea/
*.iml
